#skills {
  padding: 20px;
}

.skillTitle {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.skillDesc {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.skillButtons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.skillButtons button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
}

.skillButtons button:hover {
  background-color: #0056b3;
}

.productList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.productItem {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.productItem img {
  max-width: 250px;
  height: 150px;
  border-radius: 5px;
}

.productItem h3 {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.productItem p {
  font-size: 12px;
  margin: 5px 0;
}
.ecommerceInfo {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ecommerceInfo p {
  margin: 0;
  font-weight: bold;
}

.ecommerceInfo img {
  max-width: 25px;
  height: 20px;
}
