#skills {
  overflow: hidden;
  width: 100vw;
  max-width: 70rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.skillTitle {
  font-size: 3rem;
  font-weight: 600;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
}

.skillDesc {
  font-weight: 300;
  font-size: 1rem;
  max-width: 52rem;
  padding: 0 2rem;
}
/* skills.css */

.skillButtons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.skillButtons button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.skillButtons button:hover {
  background-color: #0056b3;
}


@media screen and (max-width: 720px) {
  .skillBarText > p {
    font-size: 2vw;
  }
}

@media screen and (max-width: 330px) {
  .skillBarText > p {
    font-size: 3vw;
  }
  .skillBarImg {
    height: 2.25rem;
    width: 2.25rem;
  }
  .skillBarText {
    font-size: 5vw;
  }
}
